<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Detailing | Nova Detailing</title>
  <link rel="stylesheet" href="/styles/global.css" />
</head>
<body>

<div class="under-construction-overlay">
  <div class="under-construction-content">
    <h2>Under Development</h2>
    <h3>We are fixing a few things<br>behind the scenes.</h3>
    <h3>We'll be back soon...</h3>
    <a href="/contact.html" class="contact-button">Contact Us</a>
  </div>
</div>

</body>
</html>
